*.iml
.gradle
gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/release/output-metadata.json
/release/android-quuppa-tag-release.aab
/release/android-quuppa-tag-release.apk
